$TTL 86400
@            IN      SOA    dns.stone.net. root.stone.net.  (
                     2002122001      ; Serial
                     3600            ; Refresh
                     900             ; Retry
                     604800          ; Expire
                     3600 )          ; Minimum
             IN      NS    dns.stone.net.
20           IN      PTR   dns.stone.net.
6            IN      PTR   gitbucket.stone.net.
12           IN      PTR   jenkins.stone.net.
15           IN      PTR   kibana.stone.net.
